$area-color: #f38ba8;

body {
  background-color:#89dceb;
}
.area-light {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    user-select: none;
    background-image: conic-gradient(from 90deg at 70% 50%, white, $area-color), conic-gradient(from 270deg at 30% 50%, $area-color, white);
    -webkit-mask-image: radial-gradient(100% 50% at center center, red , transparent);
    background-position-x: 0%, 100%;
    background-position-y: 0%, 0%;
    background-size: 50% 100%, 50% 100%;
    transform: rotate(180deg) translate3d(0, 0, 0);
    transform-origin: center center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
  }